<footer class="footer">
    <div class="container">
        <nav>
            <ul class="footer-menu">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a target="_blank" href="mailTo:{{ _infFooter.info.email }}">
                        Email
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="productos">
                        Productos
                    </a>
                </li>
                <li>
                    <a target="_blank" [href]="_infFooter.info.facebook">
                        Facebook
                    </a>
                </li>
            </ul>
            <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web {{ anio}}
            </p>
        </nav>
    </div>
</footer>